@font-face {
  font-family: 'oswald700';
  src        : url('../fonts/oswald-bold-webfont.eot');
  src        : url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-bold-webfont.woff1`2') format('woff2'), url('../fonts/oswald-bold-webfont.woff') format('woff'), url('../fonts/oswald-bold-webfont.ttf') format('truetype'), url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'oswald';
  src        : url('../fonts/oswald-light-webfont.eot');
  src        : url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-light-webfont.woff2') format('woff2'), url('../fonts/oswald-light-webfont.woff') format('woff'), url('../fonts/oswald-light-webfont.ttf') format('truetype'), url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'oswald400';
  src        : url('../fonts/oswald-medium-webfont.eot');
  src        : url('../fonts/oswald-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-medium-webfont.woff2') format('woff2'), url('../fonts/oswald-medium-webfont.woff') format('woff'), url('../fonts/oswald-medium-webfont.ttf') format('truetype'), url('../fonts/oswald-medium-webfont.svg#oswaldmedium') format('svg');
  font-weight: normal;
  font-style : normal;
}
body {
  position   : relative;
}
.page-section {
  padding         : {
    top   : 65px;
    bottom: 42px;
  }
  text-align      : center;
  background-color: $base-light;
  .container > .title-m {
    margin-top: 0;
  }
}
footer {
  padding-top     : 24px;
  padding-bottom  : 5px;
  color           : $base-light;
  text-align      : center;
  background-color: $gray-dark;
  p a+a {
    margin-left: 5px;
  }
  a.btn {
    font-size: $font-size-large;
    border   : none;
    &:hover {
      border: none;
    }
  }
  em {
    color     : $brand-primary;
    font-style: normal;
  }
}
